---
import Divider from '../components/Divider.astro';
import FullPost from '../components/FullPost.astro';
import Layout from '../layouts/NewLayout.astro';

import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import MapImage from '../assets/images/pageimages/map.png';
import Door from '../assets/images/pageimages/pa58_images/door.jpg';
import Path from '../assets/images/pageimages/pa58_images/path.jpg';
import Sign from '../assets/images/pageimages/pa58_images/sign.jpg';

import Forro from './forro.astro';
import PA58 from './pa58.astro';

const posts = (await getCollection('news'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()) // sort by latest
  .slice(0, 1);

const [latest, ...rest] = posts;
---

<Layout title="Home">
  <div class="snap-y snap-mandatory">
    <div class="flex flex-col col-span-1 md:flex-row md:mt-15 mt-5">
      <div class="md:px-0 order-1">
        <!-- Headline -->
        <div id="we-dance-forro" class="md:mb-10 mb-0 border-spacing-4">
          <h1 class="text-xl font-merri text-slate-600">
            We dance <span class="text-violet-900 font-semibold">Forró</span>.
          </h1>

          <h1 class="text-xl font-merri text-slate-600">
            Every <span class="text-violet-900 font-semibold">Tuesday</span> from
            <span class="text-violet-900 font-semibold">19:30 - 22:00</span> at
            <span class="text-violet-900 font-semibold">Prinzenalle 58</span>, 13359 Berlin
          </h1>
        </div>

        <Divider id="news" text="News" className="lg:hidden py-5 flex snap-start" />

        <!-- Post  -->
        <div id="last-message" class="flex flex-col lg:flex-row order-2">
          <div class="flex-1 min-w-0 pr-18 mr-20">
            <Divider text="News" className="hidden lg:relative lg:flex md:pb-5 py-2" />

            <div id="news" class="scroll-mt-[150px]">
              <div
                class="md:h-[65vh] overflow-y-auto"
                style="background: 
            
            linear-gradient(45deg, rgba(253, 248, 205, 0.5) 10%, oklch(98.7% 0.022 95.277) 70%); background: circular-gradient(circle, rgba(253, 248, 205) 50%, oklch(98.7% 0.022 95.277) 70%);
            overflow-y: scroll;
            mask-image: 
            linear-gradient( to bottom, black 80%, transparent 99% );"
              >
                <FullPost post={latest} />
              </div>
            </div>
          </div>

          <Divider id="map" text="Map" className="lg:hidden flex py-5 snap-start" />

          <!-- Map  -->
          <div class="lg:-mt-10 lg:w-1/4 group order-3 mb-4">
            <Image
              src={MapImage}
              alt="Location map"
              class="lg:transition-transform lg:duration-500 lg:group-hover:scale-145 lg:origin-right"
            />
          </div>
        </div>
      </div>
    </div>

    <Divider id="how-to-find-us" text="How to find us." className="pt-10 flex snap-start" />

    <div class="md:mb-5 mb-0">
      <h1 class="text-xl font-merri text-slate-600">
        Once in the first backyard, this is the way to go.
      </h1>
    </div>

    <div class="max-w-full flex flex-col md:flex-row mt-10 gap-3">
      <Image
        src={Sign}
        alt="Signs"
        class="w-full md:flex-1 max-w-full rounded-sm aspect-square hover:scale-105 transition-all object-cover"
      />
      <Image
        src={Path}
        alt="Path"
        class="w-full md:flex-1 max-w-full rounded-sm aspect-square hover:scale-105 transition-all object-cover"
      />
      <Image
        src={Door}
        alt="Door"
        class="w-full md:flex-1 max-w-full rounded-sm aspect-square hover:scale-105 transition-all object-cover"
      />
    </div>

    <Divider id="pa58" text="PA 58" className="py-30 flex snap-start" />

    <PA58 />

    <Divider id="forró" text="Forró" className="py-30 flex" />

    <Forro />
  </div>

  <style>
    .scroll-mt-[150px] {
      scroll-margin-top: 150px;
    }

    #bar {
      width: 600px;
      height: 20px;
    }

    #forrodacapita {
      width: 200px;
    }
  </style>
</Layout>
