---


import Divider from "../components/Divider.astro";
import FullPost from "../components/FullPost.astro";
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import MapImage from "../assets/images/pageimages/map.png";
import Door from "../assets/images/pageimages/pa58_images/door.jpg";
import pa_eingang_01 from "../assets/images/pageimages/pa58_images/pa_eingang_01.jpg";
import pa_garten from "../assets/images/pageimages/pa58_images/pa_garten.jpg";
import pa_innenhof from "../assets/images/pageimages/pa58_images/pa_innenhof.jpg";
import pa_oase from "../assets/images/pageimages/pa58_images/pa_oase.jpg";
import pa_straße from "../assets/images/pageimages/pa58_images/pa_straße.jpg";
import Path from "../assets/images/pageimages/pa58_images/path.jpg";
import Sign from "../assets/images/pageimages/pa58_images/sign.jpg";
import Article from "../components/Article.astro";
import { Content as PA58_text } from "../content/pages/pa58.md";

import { getCollection } from "astro:content";

const posts = (await getCollection("news"))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()) // sort by latest
    .slice(0, 1);

const [latest, ...rest] = posts;
---

<Layout title="Home">
    <div class="flex flex-col col-span-1 md:flex-row md:mt-15 mt-5">
        <div class="md:px-0 order-1">
            <!-- Headline -->
            <div id="we-dance-forro"class="md:mb-10 mb-0 border-spacing-4">
                <h1 class="text-xl font-merri text-slate-600">
                    We dance <span class="text-violet-900 font-semibold"
                        >Forró</span
                    >.
                </h1>

                <h1 class="text-xl font-merri text-slate-600">
                    Every <span class="text-violet-900 font-semibold"
                        >Tuesday</span
                    > from
                    <span class="text-violet-900 font-semibold"
                        >19:30 - 22:00</span
                    > at
                    <span class="text-violet-900 font-semibold"
                        >Prinzenalle 58</span
                    >, 13359 Berlin
                </h1>
            </div>

            <Divider id="news" text="News" className="lg:hidden py-5 flex" />

            <!-- Post  -->
            <div id="last-message" class="flex flex-col lg:flex-row order-2">
                <div class="flex-1 min-w-0 pr-18 mr-20">
                    <Divider
                        text="News"
                        className="hidden lg:relative lg:flex md:pb-5"
                    />

                    <div id="news" class="scroll-mt-[150px]">
                        <div class="md:h-[45vh] overflow-y-auto">
                                 <FullPost post={latest} />
                        </div>
                    </div>
                </div>

                <Divider id="map"text="Map" className="lg:hidden flex py-5 " />

                <!-- Map  -->
                <div class="lg:-mt-10 lg:w-1/4 group order-3 mb-4">
                    <Image
                        src={MapImage}
                        alt="Location map"
                        class="lg:transition-transform lg:duration-500 lg:group-hover:scale-145 lg:origin-right"
                    />
                </div>
            </div>
        </div>
    </div>

    <Divider id="how-to-find-us" text="How to find us." className="py-10 flex" />

    <div class="md:mb-5 mb-0">
        <h1 class="text-xl font-merri text-slate-600">
            Once in the first backyard, this is the way to go.
        </h1>

      
    </div>

    <div class="max-w-full flex flex-col md:flex-row mt-10 gap-3">
        <Image
            src={Sign}
            alt="Signs"
            class="w-full md:flex-1 max-w-full rounded-sm aspect-square hover:scale-105 transition-all object-cover"
        />
        <Image
            src={Path}
            alt="Path"
            class="w-full md:flex-1 max-w-full rounded-sm aspect-square hover:scale-105 transition-all object-cover"
        />
        <Image
            src={Door}
            alt="Door"
            class="w-full md:flex-1 max-w-full rounded-sm aspect-square hover:scale-105 transition-all object-cover"
        />
    </div>

    <Divider id="pa58" text="PA 58" className="py-30 flex" />

    <h1  class="text-3xl font-merri font-semibold">PA 58</h1>
    <div class="flex flex-col lg:flex-row justify-between">
      <div class="w-full lg:w-3/5 lg:pr-15">
        <Article>
          <PA58_text />
        </Article>
      </div>
      <div class="flex flex-col lg:w-2/5 gap-5">
        <Image src={pa_straße} alt="pa58" class="h-auto w-full" />
  <Image src={pa_eingang_01} alt="pa58 Eingang" class="h-auto w-full" />
      </div>
    </div>
  
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-5 lg:gap-x-5 mt-5">
      <Image src={pa_oase} alt="pa58 Eingang" class="h-auto w-full" />
      <Image src={pa_innenhof} alt="pa58 Eingang" class="h-auto w-full" />
    </div>
    <div class="mt-5">
      <Image src={pa_garten} alt="pa58 Eingang" class="h-auto w-full" />
    </div>

    <style>
        .scroll-mt-[150px] {
            scroll-margin-top: 150px;
        }

        #bar {
            width: 600px;
            height: 20px;
        }

        #forrodacapita {
            width: 200px;
        }
    </style>

   
</Layout>
